<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/1/load/1/plot" value="false" />
    <add key="/amdcpu/1/load/2/plot" value="false" />
    <add key="/amdcpu/1/load/3/plot" value="false" />
    <add key="/amdcpu/1/load/4/plot" value="false" />
    <add key="/amdcpu/1/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="hiddenMenuItem" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEALvbyStYuOuKBwODhxMAFQ2OXgwAAAA=" />
    <add key="/hdd/0/data/0/values" value="H4sIAAAAAAAEALvbyStYuOuKx3b2AmcA3uH8uwwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEALvbyStYuOuKx75FC5wAVsR47wwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEADvFIiFYuOuKBwODjRMAoIevEAwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEADvFIiFYuOuKh1FakxMALoORfAwAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAOtnCbxdsOuKBwPDgf8a8h6MDGDQ5dSxopMTxvYwTGICMxs6nXZmQ9kMHU627G+4YeyUe4lQ8U4nhicwdpcTi0yZKIwNACgCz3RsAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAOtnCbxdsOuKBwPDgf8a8h6MDGDg4HrCrsQExgYA4QTiTCQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAOtnCbxdsOuKBwPDgf8a8h6MDEAw4a+Iq9q3JCYQO2C1iGv3XARbfTKELbBSxNVpaiKYPeGwsOs2WYj4hT9CrlGmQsIw9vUdyWDxDWbCrjcjIGoKOIVd97tA2B8e8rrq3/Tlg7EBAzwqNJAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAOtnCbxdsOuKBwPDgf8a8h6MDEBwgFPHRe1bEhOYHaTr0j0XwVafDGVH67o4TU2EsD8auGyThYrzmLhEmQoJw9jXdySDxR1UjV1uRkDUONwydtnvAmVXeLjo3/Tlg7EBuOj6/5AAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA/9XGXkwMgDBaaPZTmrfkphAbLm7s5y65yLY6pMh7GO3Zjk5TU0Es7e9num0TRYivk5mplOUqZAwjH19RzJY/HvETKebERA1VzVnOu13gbCjTk920r/pywdjAwCMfsUNkAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA/915D0YGcCgwZ6t4SgLjP1jWRITlG13MzcRymZgcK0qEYWxjZcmQ8Ud7ENd4ertGw03CMDYAJsM2RlsAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA/915D0YGcAgwEnyWxIThB3i9NTgKAuMfTM3ESoe6rTdJQnOTo9AqJc9D1MT7uQTlgxXUw/XG+bU4IJQf1ARYf6/xwg1xkuT4exQV5j6IKdNSHrnTEmEs7/JItxTGpEMFz/xUI0dxgYAqw/yC/AAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA/915D0YGUCg4YCT5LckJjCb4YjT204E+8cyKLvhsNPN3ESo+GGn7S4w8SNO6REItuz5RLhen7BkuHh9LkJcpOMoC4ytey8RrubfYwTbeGky3N5QV5j5B502uSDcM2cKwkzjiDfcMDYA7eG3H+QAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA/915D0YGYCA8UKya6t4iQmMDQAlIhjxJAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA/915D0YGYDgXE6Va6t4iQmMDQCPNSp7JAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA/915D0YGYCA8cJjl1bxEhMYGwCfvHnjJAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAOP9GHC7YNcVDwaGA//buT0YGUCggcFV81sSE5htwuAaWwZlZzC4LlwGZU9gcI3LS4Sw5zC4drpAxWOA4hFQ9gwG11ePoGp6GFx9wpIhbBUGV8dcqPgBBtcemF4PBteT+lA1OgyuQfegai78d5n8HaF+5cRkuPm8kUlw87th5hQwuJZPgaoPYXBVloOK72Fw/eCC0Ot+HqqmgsHVdBdUzQoGV1eY+xMYXAFXDIBNIAEAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEADt3MuB2wa4rHgwMB/5P5/ZgZACDWU68stfFYewT+slMYGbDLKddpxIhbIY5Tgu+Q9kNs5246hBqCnOSmGB69W8eZoGxm7lg4rOdHrskw9WcfJQI1xu8KwnOVoCZAzQfACWXZNWoAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAKuzcb1dsOuKBwPDgf9rD79mZAAC9n3uTgm7k5hAbN3Z7k7xSRA2W727042GRDB71XR3J9GIZDC7ZLK70yyoeKW3uxPjA4j4Hk53p1+PIeKc392cGsIg5ri8d3OKy4WIP7wLZEdAxFfdcHNymQ/R6wNkJ3hA1ARdcXOScoWoYb/s5qRsCGEv+enmtHAyhH3ys71T8jeI+tOvjZ0cl0PEly43dnrDCWGX7zJ24siBmP96q7HTPaibd8w2dmrIgogrtRs7AQDpPDzpFAEAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADMOcL1dsOuKBwPDgf8/1r9mZACCiHf/HBJ2JzGB2PcO/nOIT4Kw383953CjIRHMTtr7z0E0IhnMZtrxz2EWVFwl5p8D4wOIuA3HP4dfjyHiCR/+OjSEQcwpefbXIS4XIu5yAciOgIjPOfnXwWU+RK8KkJ3gAVEjcOSvg5QrRE3Wob8OyoYQ9pbPfx0WToawJf5+cUj+BlEvteipg+NyiLiC91OHN5wQtkryUweOHIj5EbFPHe5B3fzM+qlDQxZEfJHiUwcAVoSH5BQBAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADMOcL1dsOuKBwPDgf8/1r9mZACCA9P+OyTsTmICsa0O/3eIT4KwtZ7/d7jRkAhmbzv+30E0IhnMFjv732EWVLxKhMGR8QFEPM+OwfHXY4h4jBeDY0MYxJwgfwbHuFyIeFYUkB0BEd8Xy+DoMh+i9xeQneABUdOSwOAo5QpRE57I4KhsCGFv8mBwXDgZwmY4wuKY/A2ivr6Qx9FxOUT8zxwexzecEPavCTyOHDkQ8x9M5nG8B3XzzCU8jg1ZEPHdG3kcAVBjeZ8UAQAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAJNcKHm7YNcVDwaGA/+F4sWZGICglqnAKWF3EpjNEBLsFJ8EZS/xc7rRkAhhrwl1Eo1IhrCfhDjNgonvyHFifAAV53Fz+vUYKs7h79QQBjWnIcQpLhcqnhDoFBeBMN9lPlTvF08nL0WomhoXJ4OcJLh6ZUMomyfeaeFkKPtElVPyN6j6niAnx+VQcZkQpzecUDaDhxNHDtT8Cl+nezA3v/B2asiCit/xdQIA438ZbBQBAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEACt8L3m7YNcVDwaGA/93CYgzMQDB341ZTgm7k8BshgsZTvFJULaDn9ONhkSouL+TaEQyhL3Bx2kWTNwh3YnxAVR8gqfTr8eJcL0NYVBzGkKc4nKh4gweTnERCPNd5kP1Lgh38lKEqhGwdTLISYLbpWwIZX/Idlo4GcpmqHJK/oawy3E5VPxBrNMbziS4ezhyoOYnBDrdg7n5gYtTQxbCzQAVf0WLFAEAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEACt8L3m7YNcVDwaGA/93CYgzMQDBh9N5Tgm7k8BshgNRTvFJUPaCcKcbDYkQdkG8k2hEMoSdkOU0CybekOvE+AAqLhDm9OsxVJwh0akhDGFmXG4iXG9cBMJ8l/lQvRf8nbwUoWo+BDkZ5EDVKHg7KRtC2QmBTgsnQ9kVTU7J36DqN/g4OS5HqH/DCWUHxDhx5CTD7boHczNQvCEL4WYAJvWCWhQBAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAGNjlrpdsOuKBwPDgf+qf8WYGIDAs73VKWF3EpjNsCDcKT4JynZId7rRkAhhN+Q6iUYkQ9gBMU6zYOIcLU6MD6DiF/ydfj2GijMkOjWEQc05EOUUlwsVn5DkFBcBs6vAyWU+VO8GHycvRaiaB7FOBjlQNQL5TsqGCPbCyVD2hkan5G9Q9QGlTo7Lk+B633DC3O/nxJGTDHfPPZibEwKdGrKg4glZTgCM30kEFAEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAGNjlrpdsOuKBwPDgf+qf8WYGICgpDbaKWF3EpjNoGDkFJ8EZRfoOt1oSISwP1g6iUYkQ9gGDk6zYOICYU6MD6DiBzScfj2Gij/QdmoIg5rD4OEUlwsVn2DgFBcBFRdQcXKZD9W7wdjJSzERLm6QA1WzwM5J2RDKvuDvtHAyjJ3hlPwN4TbH5VDxCZ5ObziT4G7gyEmGs+/B3Wzr1JCVDPcjACayjX8UAQAA" />
    <add key="/amdcpu/1/load/0/values" value="H4sIAAAAAAAEAGP11LtdsOuKBwPDgf9q25mYGIBgwtoEp4TdSWA2wxU3p/gkKHuKg9ONhkQIW8PSSTQiGcI2CXCaBRV3jQ1wYnwAEVePcnH69Riq/o+5U0MY1BwPG6e4XIi4i7iVU1wERNxvl5OTy3yIXuE/Rk4JHhA17qctnKRcIWqEgeqVDSHseX+8nBZOhpopkO+U/A3qhkR3J8flEHH1IFunN5xQNSFWThw5UDfXuDjdg7o5lNHVqSELIi6S7OQEABCCrFgUAQAA" />
    <add key="/amdcpu/1/load/1/values" value="H4sIAAAAAAAEAGP11LtdsOuKBwPDgf9q25mYGIBA6mCTU8LuJDCbQaHBKT4Jxq51utGQCGE35DqJRiRD2At6nGbBxAsqnBgfQMUdmp1+PYaKJ2Q5NYRBzXlQ5hSXixCPi4CKO6Q7ucxPhpuf4AFVc6DYScoVoVfZEMreUOe0cDKU3dDplPwNqp6jxclxOVT8Q7bTG04om6HKiSMnGe6vew0I8xuykuHmAwBIU/BCFAEAAA==" />
    <add key="/amdcpu/1/load/2/values" value="H4sIAAAAAAAEAGP11LtdsOuKBwPDgf9q25mYGIBA+YylU8LuJDCb4QC/U3wSlD1B3OlGQyKcLRqRDGFfkHWaBRNfoOrE+AAqvkHK6ddjqLgAt1NDWBKcHZcLEd8dJ+AUFwERt5gp5+QyH6LXW0HOKcEDZiaPk5QrRI1XjICTsiGEXeYk67RwMtTMhhCn5G8Q9SKsCk6OyyHi814IO73hhKox4HPiyIG6rUDE6R7UzaFfRZwasiDifnPUnACG2N6uFAEAAA==" />
    <add key="/amdcpu/1/load/3/values" value="H4sIAAAAAAAEADsWo3e7YNcVDwaGA/9TFzMxMQDBis4Wp4TdSWA2w4UMp/gkKHtDqtONhkQIm8HDSTQiGcJeUOA0CyZeEO/E+AAqHhDj9OsxVNwg0qkhDGrOhCSnuFyo+IEop7iIJLh6l/lQvRfMnBI8oGoWhDtJucL0ejopG0LZDIlOCydD2Qq1TsnfoOoTAp0cl8Pc7+/0hhOmxtuJIwdqvkKK0z24XxKdGrKS4e4EABVoLcUUAQAA" />
    <add key="/amdcpu/1/load/4/values" value="H4sIAAAAAAAEADsWo3e7YNcVDwaGA/9TFzMxMQDB1BArp4TdSWA2Q4OSU3wSlP2B3elGQyKEPUHcSTQiGcJWkHSaBRUX+ersxPgAIj7vhbDTr8dQ9QGCTg1hUHMW8DjF5ULEw+4JOcVFQMUPaDi5zIea2cDplOABUSOjy+0k5ZoEt1fZEMpm0HdaOBlmZrhT8jeoXQIqTo7LYeKqTm84YerFnDhyEG6+B/NLgJZTQxZU/IGQEwAP6aQ4FAEAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>